.article .tail {
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 0 50px 50px 0;
  padding: 10px 30px 10px 20px;
  background-color: #1f1e1c;
  display: flex;
  align-items: center;
}

.article .tail:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.36);
  margin-right: 10px;
  border-radius: 50%;
  background: url("../img/production_icon.svg") no-repeat center/contain;
}

.article .tail p {
  color: #f9a46a;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.article .tail p span {
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 17px;
}

.article .inner {
  padding-top: 200px;
}

.article .inner h4 {
  color: #f9a46a;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#blog {
  padding-top: 150px;
  padding-bottom: 150px;
}

#blog h1 {
  display: block;
  text-align: center;
  color: #de8e51;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#blog .icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#blog .filters_wrap {
  margin-top: 40px;
}

#blog .filters_wrap.fixed {
  margin-top: -60px;
}

#blog .filters_wrap h4 {
  color: #b41f28;
  margin-bottom: 30px;
}

#blog label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1f1e1c;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

#blog label + label {
  margin-top: 20px;
}

#blog label span {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #efefef;
  margin-right: 15px;
}

#blog label input {
  display: none;
}

#blog label input:checked + span {
  background: url("../img/check.svg") no-repeat center/16px;
}

#blog .articles_wrap {
  margin-top: 40px;
}

#blog .label {
  position: absolute;
  bottom: -20px;
  left: 175px;
  width: 210px;
  height: 52px;
  border-radius: 0 50px 50px 0;
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

@media all and (max-width: 769px) {
  #blog .label {
    left: 0;
    bottom: auto;
    top: 200px;
  }
}

#blog .label img {
  flex: none;
  width: 26px;
  height: 26px;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.36);
  margin-right: 10px;
  border-radius: 50%;
}

#blog .label p {
  color: #f9a46a;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

#blog .label span {
  color: #fff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 17px;
}

#blog .info {
  opacity: 1;
  transition: opacity 180ms;
}

#blog .title {
  color: #f9a46a;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
}

#blog .one_article {
  display: flex;
  align-items: center;
}

@media all and (max-width: 769px) {
  #blog .one_article {
    flex-wrap: wrap;
  }
}

#blog .one_article + .one_article {
  margin-top: 60px;
}

#blog .one_article .img_wrap {
  flex: none;
  margin-right: 65px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 348px;
  height: 235px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  transform: scale(1);
  transition: transform 180ms;
}

@media all and (max-width: 769px) {
  #blog .one_article .img_wrap {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
}

#blog .one_article:hover .img_wrap {
  transform: scale(1.1);
  transition: transform 180ms;
}

@media all and (max-width: 769px) {
  #blog .one_article:hover .img_wrap {
    transform: scale(1);
  }
}

#blog .one_article:hover .info {
  opacity: 0.7;
  transition: opacity 180ms;
}
/*# sourceMappingURL=blog.css.map */