@import "variables";

#main_top {
  height: 100vh;
  max-height: 1080px;

  .main_data {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .uptitle {
      width: 124px;
      height: 18px;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.4px;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }

    .title {
      color: #de8e51;
      font-family: "Roboto Slab";
      font-size: 60px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 3px;
      line-height: 60px;
      text-align: center;
      display: block;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    img {
      width: 95px;
    }

    .undertitle {
      margin-top: 20px;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.8px;
      line-height: 24px;
      text-align: center;
      display: block;
      max-width: 580px;
    }
  }
}

.main_top_carousel.owl-carousel {
  .one_slide {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .owl-nav {
    position: absolute;
    width: 288px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 43px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .owl-prev,
  .owl-next {
    width: 26px;
    height: 26px;
    pointer-events: all;
    opacity: 1;
    transition: opacity 180ms;

    &:hover {
      opacity: 0.5;
      transition: opacity 180ms;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url("../img/arrow.svg") no-repeat center / contain;
    }
  }

  .owl-next {
    &::before {
      transform: rotate(180deg);
    }
  }

  .owl-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-dot {
    pointer-events: all;
    width: 12px;
    height: 12px;
    border: 2px solid $yellow;
    background-color: transparent;
    transition: background-color 360ms, border 360ms;

    &.active,
    &:hover {
      background-color: #fff;
      border: 2px solid #fff;
      transition: background-color 360ms, border 360ms;
    }

    & + .owl-dot {
      margin-left: 20px;
    }
  }
}

.info_block {
  img {
    width: 30px;
    margin-right: 30px;
    align-self: baseline;
    margin-top: -10px;
  }

  .text {
    line-height: 27px;
  }

  .link {
    color: #9f0d1d;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: normal;
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 30px;
    transition: color 180ms;

    svg {
      height: 11px;
      transform: rotate(180deg);

      path {
        fill: #9f0d1d;
        transition: fill 180ms;
      }
    }

    &:hover {
      color: $yellow;
      transition: color 180ms;

      svg {
        path {
          transition: fill 180ms;
          fill: $yellow;
        }
      }
    }
  }
}

.story_counters {
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: -30px;
  }

  p {
    white-space: nowrap;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 43px;
    font-weight: 900;
    letter-spacing: 2.15px;
    text-align: right;

    &:after {
      display: inline-block;
      content: "+";
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 23px;
      font-weight: 900;
      vertical-align: 8px;
    }
  }

  span {
    margin-left: 7px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 14px;
    text-align: left;

    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  }

  .small {
    max-width: 40%;
    margin-right: 70px;
  }

  .big {
    max-width: 50%;
  }
}

#story {
  margin-top: 200px;
  padding-bottom: 315px;
  background-image: url("../img/pig_bg.svg"), url("../img/cow_bg.svg");
  background-position: right 325px bottom 175px, left 700px top 430px;
  background-size: 350px auto, 400px auto;
  background-repeat: no-repeat, no-repeat;

  h1 {
    max-width: 470px;
    color: $dark;
    font-family: "Roboto Slab";
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.5px;
    line-height: 53px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 125px;

    &::before {
      top: -13px;
    }

    &::after {
      bottom: -13px;
    }
  }

  .img_wrap {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .img_1 {
    width: 630px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  .story_counters {
    margin-top: -400px;
    background-color: $rad;
    display: flex;
    padding: 35px 50px;
    flex-wrap: wrap;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(135deg, transparent 66%, $rad 67%),
        linear-gradient(45deg, $rad 33%, transparent 34%, transparent 44%);
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: auto;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(
          135deg,
          $rad 33%,
          transparent 34%,
          transparent 44%
        ),
        linear-gradient(45deg, transparent 66%, $rad 67%);
    }
  }
}

#big_asortemet {
  background-color: $dark;
  padding-top: 140px;
  padding-bottom: 140px;
  z-index: 2;
  backface-visibility: hidden;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 0;
    background-position: -9px 0;
    background-size: 17px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg, transparent 66%, $dark 67%),
      linear-gradient(45deg, $dark 33%, transparent 34%, transparent 44%);
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
    background-position: -9px 0;
    background-size: 17px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(
        135deg,
        $dark 33%,
        transparent 34%,
        transparent 44%
      ),
      linear-gradient(45deg, transparent 66%, $dark 67%);
  }

  h2 {
    color: #fff;
    margin-bottom: 50px;
  }

  .color_btn {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .products_grid_wrap {
    padding-bottom: 5px;
    padding-top: 14px;
    border-top: 5px solid #fff;
    background-color: $dark_rad;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 450px 450px;

    &:before {
      z-index: 0;
      content: "";
      height: 55px;
      top: -46px;
      left: 500px;
      width: 130px;
      display: block;
      position: absolute;
      background: url("../img/products_bg.png") no-repeat bottom center / cover;
    }

    .item {
      background-color: #6e1b1e;
      overflow: hidden;
      transform: scale(1);
      z-index: 1;
      transition: transform 360ms;

      &:nth-child(3n + 1) {
        transform-origin: left center;
      }

      &:nth-child(3n) {
        transform-origin: right center;
      }

      .img_wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: #211812;
          opacity: 0.32;
        }
      }

      .info {
        background-color: $darker;
        padding: 15px 25px 15px;

        &.bottom {
          position: absolute;
          bottom: 0;
          width: 100%;

          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 100%;
            z-index: 0;
            background-position: -8px 0;
            background-size: 15px 100%;
            background-repeat: repeat-x;
            background-image: linear-gradient(
                135deg,
                transparent 66%,
                $darker 67%
              ),
              linear-gradient(
                45deg,
                $darker 33%,
                transparent 34%,
                transparent 44%
              );
          }
        }

        &.top {
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            bottom: auto;
            z-index: 0;
            background-position: -8px 0;
            background-size: 15px 100%;
            background-repeat: repeat-x;
            background-image: linear-gradient(
                135deg,
                $darker 33%,
                transparent 34%,
                transparent 44%
              ),
              linear-gradient(45deg, transparent 66%, $darker 67%);
          }
        }

        &.right {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: calc(100%);
          transform-origin: left bottom;
          transform: rotate(-90deg);

          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 100%;
            z-index: 0;
            background-position: -8px 0;
            background-size: 15px 100%;
            background-repeat: repeat-x;
            background-image: linear-gradient(
                135deg,
                transparent 66%,
                $darker 67%
              ),
              linear-gradient(
                45deg,
                $darker 33%,
                transparent 34%,
                transparent 44%
              );
          }
        }

        &.left {
          position: absolute;
          width: 100%;
          transform-origin: left bottom;
          transform: rotate(-90deg);
          left: 81px;
          bottom: 0;

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            bottom: auto;
            z-index: 0;
            background-position: -8px 0;
            background-size: 15px 100%;
            background-repeat: repeat-x;
            background-image: linear-gradient(
                135deg,
                $darker 33%,
                transparent 34%,
                transparent 44%
              ),
              linear-gradient(45deg, transparent 66%, $darker 67%);
          }
        }
      }

      h4 {
        color: #ffffff;
        text-transform: uppercase;
      }

      .text {
        color: $yellow;
      }

      &:hover {
        z-index: 2;
        transform: scale(1.1);
        transition: transform 360ms;

        .info {
          background-color: $rad;

          &.bottom {
            &:before {
              background-image: linear-gradient(
                  135deg,
                  transparent 66%,
                  $rad 67%
                ),
                linear-gradient(
                  45deg,
                  $rad 33%,
                  transparent 34%,
                  transparent 44%
                );
            }
          }

          &.top {
            &:after {
              background-image: linear-gradient(
                  135deg,
                  $rad 33%,
                  transparent 34%,
                  transparent 44%
                ),
                linear-gradient(45deg, transparent 66%, $rad 67%);
            }
          }

          &.right {
            &:before {
              background-image: linear-gradient(
                  135deg,
                  transparent 66%,
                  $rad 67%
                ),
                linear-gradient(
                  45deg,
                  $rad 33%,
                  transparent 34%,
                  transparent 44%
                );
            }
          }

          &.left {
            &:after {
              background-image: linear-gradient(
                  135deg,
                  $rad 33%,
                  transparent 34%,
                  transparent 44%
                ),
                linear-gradient(45deg, transparent 66%, $rad 67%);
            }
          }
        }
      }
    }

    .quality {
      width: 250px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 350px;
      top: 342px;
      left: calc(33% - 120px);
      pointer-events: none;
      z-index: 2;
      color: #ffffff;
      font-size: 35px;
      letter-spacing: 1.75px;
      font-family: "Roboto Slab";
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-transform: uppercase;

      &.for_u {
        top: 796px;
        left: calc(66% - 112px);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 238px;
        height: 238px;
        transform: rotate(45.00000000000001deg);
        border: 4px solid #ffffff;
        background-color: $darker;
      }

      p {
        z-index: 1;
      }
    }
  }
}

#with_love {
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../img/pig_bg_left.svg"),
    url("../img/cow_bg_right.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 160px right, top 555px left;

  h2 {
    color: $dark;
    margin-bottom: 50px;
    max-width: 425px;
  }

  .story_counters {
    margin-top: 175px;

    p,
    p:after {
      color: $rad;
    }

    span {
      color: $dark;
    }
  }

  .slider_wrap {
    width: 122%;
    margin-top: 150px;
    background-color: #fab688;
    padding: 55px 80px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(135deg, transparent 66%, #fab688 67%),
        linear-gradient(45deg, #fab688 33%, transparent 34%, transparent 44%);
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: auto;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(
          135deg,
          #fab688 33%,
          transparent 34%,
          transparent 44%
        ),
        linear-gradient(45deg, transparent 66%, #fab688 67%);
    }

    .one_slied {
      margin: 20px;
      display: block;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 280px;
      height: 225px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.24);
      background-color: #ffffff;
      transform: scale(1);
      transition: transform 360ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform 360ms;
      }
    }

    .img_wrap {
      position: absolute;
      left: 0;
      top: 7px;
      bottom: 7px;
      right: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        background-color: #211812;
        opacity: 0.32;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(
          1deg,
          $dark 0%,
          rgba(31, 30, 28, 0) 100%
        );
      }
    }

    .data {
      position: absolute;
      left: 10px;
      bottom: 21px;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.4px;
      text-transform: uppercase;

      &:before {
        margin-right: 10px;
        content: "";
        border-radius: 50%;
        height: 26px;
        width: 26px;
        background: url("../img/main_play_icon.svg") no-repeat center / cover;
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.36);
      }
    }
  }
}

#hurt_rozdrib {
  margin-bottom: 150px;

  .img_wrap {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .on_img {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 20px 30px;
    background-color: $rad;

    &.right {
      left: auto;
      right: 0;
    }

    img {
      margin-right: -30px;
    }

    p {
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 43px;
      font-weight: 900;
      letter-spacing: 2.15px;

      &:after {
        content: "+";
        font-size: 23px;
        font-weight: 900;
        letter-spacing: 1.15px;
        vertical-align: 8px;
      }
    }

    span {
      margin-left: 10px;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.6px;
      line-height: 14px;
      text-transform: uppercase;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(135deg, transparent 66%, $rad 67%),
        linear-gradient(45deg, $rad 33%, transparent 34%, transparent 44%);
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: auto;
      z-index: 0;
      background-position: -9px 0;
      background-size: 17px 100%;
      background-repeat: repeat-x;
      background-image: linear-gradient(
          135deg,
          $rad 33%,
          transparent 34%,
          transparent 44%
        ),
        linear-gradient(45deg, transparent 66%, $rad 67%);
    }
  }

  .inner {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.right {
      float: right;
    }
  }

  h3 {
    color: $dark;
    margin-bottom: 40px;
  }
}

#interesting_facts {
  background-color: $dark;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 2;

  .under_color {
    width: 100%;
    height: 535px;
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $lightn_brown;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 0;
    background-position: -8px 0;
    background-size: 15px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg, transparent 66%, $dark 67%),
      linear-gradient(45deg, $dark 33%, transparent 34%, transparent 44%);
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
    background-position: -8px 0;
    background-size: 15px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(
        135deg,
        $lightn_brown 33%,
        transparent 34%,
        transparent 44%
      ),
      linear-gradient(45deg, transparent 66%, $lightn_brown 67%);
  }

  h2 {
    width: 320px;
    margin-bottom: 37px;
    color: #ffffff;
  }

  .link {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 75px;
    display: inline-block;

    svg {
      height: 11px;
      transform: rotate(180deg);

      path {
        fill: #ffffff;
        transition: fill 180ms;
      }
    }

    &:hover {
      color: $yellow;
      transition: color 180ms;

      svg {
        path {
          transition: fill 180ms;
          fill: $yellow;
        }
      }
    }
  }

  .slider_wrap {
    margin-left: calc((100% - 1206px) / 2);
  }

  .interesting_carousel {
    .one_slied {
      padding: 30px;
      display: block;
      transform: scale(1);
      transition: transform 360ms;

      &:hover {
        transform: scale(1.1);
        transition: transform 360ms;
      }
    }

    .img_wrap {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 235px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.24);
      background-color: #ffffff;
      margin-bottom: 42px;
      width: 348px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #211812;
        opacity: 0.32;
      }
    }

    .label {
      position: absolute;
      top: 235px;
      left: 235px;
      width: 210px;
      height: 52px;
      border-radius: 0 50px 50px 0;
      background-color: #ffffff;
      padding: 10px 20px;
      display: flex;
      align-items: center;

      img {
        flex: none;
        width: 26px;
        height: 26px;
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.36);
        margin-right: 10px;
        border-radius: 50%;
      }

      p {
        color: $yellow;
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.4px;
        text-transform: uppercase;
      }

      span {
        color: $darker;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 17px;
      }
    }

    .info {
      margin-top: 42px;
      padding-left: 30px;
      max-width: 360px;

      .title {
        color: $dark;
        font-family: "Roboto Slab";
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .text {
        letter-spacing: 0.7px;
        color: #fff;
        line-height: 27px;
      }
    }
  }
}

#main_contacts {
  z-index: 1;
  height: 100vh;
  max-height: 1080px;
  padding-top: 160px;
  overflow: hidden;

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100vh;
    max-height: 1080px;
  }

  h2 {
    color: $dark;
    width: 310px;
    margin-bottom: 125px;
  }

  .map_contacts {
    display: flex;
    justify-content: space-between;

    .under_color {
      position: absolute;
      top: -40px;
      bottom: -40px;
      left: -70px;
      right: -300px;
      background-color: $rad;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 100%;
        z-index: 0;
        background-position: -9px 0;
        background-size: 17px 100%;
        background-repeat: repeat-x;
        background-image: linear-gradient(135deg, transparent 66%, $rad 67%),
          linear-gradient(45deg, $rad 33%, transparent 34%, transparent 44%);
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 0;
        background-position: -9px 0;
        background-size: 17px 100%;
        background-repeat: repeat-x;
        background-image: linear-gradient(
            135deg,
            $rad 33%,
            transparent 34%,
            transparent 44%
          ),
          linear-gradient(45deg, transparent 66%, $rad 67%);
      }
    }

    p {
      color: $yellow;
      font-family: "Roboto Slab";
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.2px;
      line-height: 15px;
      text-transform: uppercase;
    }

    .line {
      display: flex;

      & + .line {
        margin-top: 30px;
      }

      p {
        flex: none;
        width: 105px;
      }

      span {
        display: block;
        color: $yellow;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.24px;
        line-height: 15px;
      }

      a {
        max-width: 260px;
        display: block;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.4px;
        text-transform: uppercase;

        & + span {
          margin-top: 10px;
        }
      }
    }

    .socials {
      margin-bottom: 50px;

      p {
        margin-right: 34px;
      }

      & + p {
        max-width: 280px;
      }
    }

    .color_btn {
      margin-top: 20px;
      background-color: $yellow;

      &:before,
      &:after {
        background: url("../img/button_line_red.svg") no-repeat center/contain;
      }

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
