@import "variables";

#production_top {
  padding-top: 150px;
  padding-bottom: 100px;

  h1 {
    color: #de8e51;
    text-transform: uppercase;
    text-align: center;
  }

  .icons {
    display: block;
    margin: 10px auto 50px;
  }

  .production_switcher {
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    margin-bottom: 150px;

    a {
      flex: 1 1 100%;
      border-bottom: 3px solid transparent;
      transition: border-bottom 180ms;
      color: $dark;
      font-family: "Roboto Slab";
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 1.25px;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin-bottom: -2px;

      &.active,
      &:hover {
        border-bottom: 3px solid $rad;
        transition: border-bottom 180ms;
      }
    }
  }

  h2 {
    color: $dark;
    width: 295px;
    margin-bottom: 56px;
  }

  .info_block {
    .text {
      max-width: 485px;
    }
  }

  .img_wrap {
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
  }

  .rozdrib_top_1 {
    margin-top: -400px;
  }

  .rozdrib_top_2 {
    margin-top: -150px;
    width: 450px;
  }

  .on_img.right {
    right: 14px;
  }
}

#shops {
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: calc(100% - 10px);
    z-index: 0;
    background-position: -9px 0;
    background-size: 17px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg, transparent 66%, #fff 67%),
      linear-gradient(45deg, #fff 33%, transparent 34%, transparent 44%);
    transform: rotate(180deg);
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    background-position: -9px 0;
    background-size: 17px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(
        135deg,
        #fff 33%,
        transparent 34%,
        transparent 44%
      ),
      linear-gradient(45deg, transparent 66%, #fff 67%);
    transform: rotate(180deg);
  }

  #map {
    height: 630px;
  }
}

#our_sales {
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
    background-position: -8px 0;
    background-size: 15px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(
        135deg,
        #fff 33%,
        transparent 34%,
        transparent 44%
      ),
      linear-gradient(45deg, transparent 66%, #fff 67%);
  }

  h4 {
    color: $dark;
    margin-bottom: 20px;
  }

  h2 {
    color: $dark;
    margin-bottom: 56px;
    width: 493px;
  }

  .sales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
      height: 60px;
      min-width: 96px;
      flex: 1 1 25%;
      margin-bottom: 15px;
    }
  }
}

#hurt_rozdrib {
  padding-bottom: 150px;
  margin-top: -100px;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 0;
    background-position: -8px 0;
    background-size: 15px 100%;
    background-repeat: repeat-x;
    background-image: linear-gradient(
        135deg,
        #fff 33%,
        transparent 34%,
        transparent 44%
      ),
      linear-gradient(45deg, transparent 66%, #fff 67%);
  }

  .img_wrap {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .inner {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.right {
      float: right;
    }
  }

  h2 {
    color: $dark;
    margin-bottom: 40px;
  }

  .color_btn {
    margin-top: 34px;
  }

  .tel {
    display: block;
    margin-top: 30px;
    color: $dark;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    &:before {
      content: "тел:";
      margin-right: 20px;
      display: inline-block;
      vertical-align: baseline;
      color: $yellow;
      font-family: "Roboto Slab";
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.2px;
      line-height: 15px;
      text-transform: uppercase;
    }
  }
}
