@import "variables";

#products_top {
  .products_list {
    width: 100%;
    width: 275px;
    position: fixed;
    height: 100vh;
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
    max-height: 1080px;
    background: $dark_rad url("../img/product_list_bg.svg") no-repeat left
      bottom;

    a {
      display: block;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.6px;
      line-height: 14px;
      text-transform: uppercase;
      transition: color 180ms;

      &:after {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 10px;
        transform: rotate(180deg);
        position: absolute;
        top: 0;
        right: 0;
        background: url("../img/arrow.svg") no-repeat center / contain;
        opacity: 0;
        transition: opacity 180ms;
      }

      &:hover,
      &.active {
        color: $yellow;
        transition: color 180ms;

        &:after {
          opacity: 1;
          transition: opacity 180ms;
        }
      }

      & + a {
        margin-top: 30px;
      }
    }
  }

  h1 {
    display: block;
    text-align: center;
    color: #de8e51;
    font-family: "Roboto Slab";
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .products_inner {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 100vh;
  }

  .prod_grid {
    margin-top: 35px;
    margin-bottom: 75px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .one_product {
    width: 279px;
    height: 279px;
    display: block;
    transform: scale(1);
    transition: transform 180ms;

    &:hover {
      transform: scale(1.1);
      transition: transform 180ms;
    }

    .img_wrap {
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .bottom {
      width: 279px;
      height: 60px;
      padding: 10px;
      background-color: $darker;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 100%;
        z-index: 0;
        background-position: -8px 0;
        background-size: 15px 100%;
        background-repeat: repeat-x;
        background-image: linear-gradient(135deg, transparent 66%, $darker 67%),
          linear-gradient(45deg, $darker 33%, transparent 34%, transparent 44%);
      }
    }

    p {
      cursor: pointer;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.4px;
      line-height: 15px;
      text-transform: uppercase;
    }

    span {
      cursor: pointer;
      color: $yellow;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      line-height: 27px;
    }
  }

  .pagination {
    margin-bottom: 130px;
  }

  h3 {
    margin-bottom: 15px;
    color: $rad;
  }

  h4 {
    color: $yellow;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .text {
    columns: auto 2;
  }

  .small_title {
    color: $dark;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
